@page
@model VisionaryVentures.Pages.CollabHubModel
@{
    ViewData["Title"] = "Collaboration";
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        Page();
    }
    else
    {
        Response.Redirect("/Login");
        return;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/carousel.css" />
</head>
<body>
    <br />
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: column;">
            <h4>
                Welcome to Collaborations
            </h4>
            <h6>
                Your Collaborations
            </h6>
        </div>
        <div>
            <a asp-page="/CollabSpace" class="btn btn-primary">Create New Collaboration</a>
        </div>
    </div>
    <hr />

    <!-- Display existing collaborations -->
    <section class="allCards" style="display: grid; grid-gap: 2em; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
        @foreach (var collab in Model.Collaborations)
        {
            <div class="card" style="max-width: 20rem;">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">@collab.Title</h5>
                    <p class="card-text">@collab.Description</p>
                    <a asp-page="/Collaboration" asp-route-collaborationId="@collab.CollaborationID" class="btn btn-primary">Enter Collaboration</a>

                </div>
            </div>
        }
    </section>
</body>
</html>
