@page
@using Microsoft.AspNetCore.Http
@model VisionaryVentures.Pages.KnowledgeLibraryModel

@{
    ViewData["Title"] = "Knowledge Library";
    ViewData["selectedKnowledgeGroup"] = HttpContext.Session.GetInt32("selectedKnowledgeGroup");
}
@{
    if (HttpContext.Session.GetString("username") != null)
    {
        Page();
    }
    else
    {
        Response.Redirect("/Login");
        return;
    }
}

<style>
    /* General styles */
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
    }


    /* Main body styling */
    .main-body {
        padding: 20px;
        background-color: #fff;
        border-left: 1px solid #dee2e6;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .nav-tabs .nav-link {
        color: #495057;
        background-color: #e9ecef;
        border: 1px solid #dee2e6;
        border-bottom-color: transparent;
    }

    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    /* Enhancements for better visual separation and focus */
    hr {
        margin: 20px 0;
    }

    h3 {
        color: #007bff; /* Theme color for headings */
    }

    /* Form controls enhancement */
    .form-control, .form-control:focus {
        border: 1px solid #ced4da;
        box-shadow: none; /* Remove default focus shadow */
    }

    /* Button enhancements */
    .btn-primary, .btn-success {
        border: none; /* Simplify button borders */
    }
</style>

<div class="side-bar">
    <div class="row">
        <nav class="col-md-3 d-flex flex-column flex-shrink-0 p-3 side-bar">
            <p></p>
            <hr>
            <form method="get" id="search-form">
                <div class="input-group">
                    <input type="search" class="form-control rounded" id="search" placeholder="Search groups" aria-label="Search">
                    <button id="search-btn" type="button" class="btn btn-primary search-button" onclick="filterItems('search');">Search</button>
                </div>
            </form>

            <div class="nav nav-pills flex-column mb-auto mt-3">
                <h2 class="mb-4">My Groups</h2>
                <hr>
                @if (Model.AllGroups != null && Model.AllGroups.Any())
                {
                    @foreach (var group in Model.AllGroups)
                    {
                        <form method="get">
                             <button type="submit" name="selectedKnowledgeGroup" class="btn btn-block @((HttpContext.Session.GetInt32("selectedKnowledgeGroup") == group.KnowledgeGroupID) ? "btn-success" : "btn-primary") mb-2" 
                            value="@group.KnowledgeGroupID">@group.Title</button>
                            <hr>
                        </form>
                    }
                }
                else
                {
                    <p>No Groups Found.</p>
                }
            </div>
        </nav>
    </div>
</div>

<script>
    function showForm(formName){
        document.getElementById(formName).style.display = 'block';
    }

    var analysisPanelTab = new bootstrap.Tab(document.querySelector('#swotAndPestTabs .nav-link.active'));
    analysisPanelTab.show(); // Activate the first tab on page load
</script>

@if (TempData["ShowMainBody"] as bool? ?? false)
{
    <!-- Main Body: Report Building Page -->
    <div class="main-body" id="reportBuilderSection" style="display:block;">
        <form asp-page-handler="SaveReport">
            <button type="submit" class="btn btn-primary">Save Report</button>
        
            <div class="form-group">
                <label for="reportTitle">Report Title</label>
                <input type="text" class="form-control" id="reportTitle" asp-for="ReportTitle" required>
            </div>
            <div class="form-group">
                <label for="reportDescription">Report Description</label>
                <textarea class="form-control" id="reportDescription" asp-for="ReportDescription" rows="3" required></textarea>
            </div>

            <ul class="nav nav-tabs" id="swotAndPestTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#swot" type="button" role="tab" aria-controls="swot" aria-selected="true">SWOT</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="groups-tab" data-bs-toggle="tab" data-bs-target="#pest" type="button" role="tab" aria-controls="pest" aria-selected="false">PEST</button>
                </li>
            </ul>

            <div class="tab-content" id="analysisTabsContent">
                <!-- SWOT -->
                <div class="tab-pane fade show active" id="swot" role="tabpanel" aria-labelledby="swot-tab">
                    <h3>SWOT Analysis</h3>
                    <div>
                        <label for="strengths">Strengths</label>
                        <textarea type="text" class="form-control" id="strengths" asp-for="SWOTStrengths" required></textarea>
                    </div>
                    <div>
                        <label for="weaknesses">Weaknesses</label>
                        <textarea type="text" class="form-control" id="weaknesses" asp-for="SWOTWeaknesses" required></textarea>
                    </div>
                    <div>
                        <label for="opportunities">Opportunities</label>
                        <textarea type="text" class="form-control" id="opportunities" asp-for="SWOTOpportunities" required></textarea>
                    </div>
                    <div>
                        <label for="threats">Threats</label>
                        <textarea type="text" class="form-control" id="threats" asp-for="SWOTThreats" required></textarea>
                    </div>
                    <div>
                        <label for="implications">Implications</label>
                        <textarea type="text" class="form-control" id="implications" asp-for="SWOTImplications" required></textarea>
                    </div>
                    <div>
                        <label for="strategy">Strategies</label>
                        <textarea type="text" class="form-control" id="strategy" asp-for="Strategy" required></textarea>
                    </div>
                    <div>
                        <label for="SWOTNotes">Notes to SWOT Analysis</label>
                        <textarea type="text" class="form-control" id="SWOTNotes" asp-for="SWOTNotes" required></textarea>
                    </div>
                </div>
                <div class="tab-pane fade" id="pest" role="tabpanel" aria-labelledby="pest-tab">
                <h3>PEST Analysis</h3>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select asp-for="Category">
                            <option value="Political">Political</option>
                            <option value="Economic">Economic</option>
                            <option value="Social">Social</option>
                            <option value="Technological">Technological</option>
                            <option value="Legal">Legal</option>
                            <option value="Environmental">Environmental</option>
                        </select>
                    </div>
                    <div>
                        <label for="Factor">Factor</label>
                        <textarea type="text" class="form-control" id="description" asp-for="Factor" required></textarea>
                    </div>
                    <div>
                        <label for="implications">Implications</label>
                        <textarea type="text" class="form-control" id="implications" asp-for="PESTImplications" required></textarea>
                    </div>
                    <div>
                        <label for="PossibleActions">Possible Actions</label>
                        <textarea type="text" class="form-control" id="strategy" asp-for="PossibleActions" required></textarea>
                    </div>
                    <div>
                        <label for="PESTNotes">Notes to PEST Analysis</label>
                        <textarea type="text" class="form-control" id="PESTNotes" asp-for="PESTNotes" required></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
}