@page
@model VisionaryVentures.Pages.TensorFlowAnalysisModel

@{
    ViewData["Title"] = "TensorFlow Analysis";
}

@* @if (Model.Headers != null && Model.Records != null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
                <tr>
                    @foreach (var field in record)
                    {
                        <td>@field</td>
                    }
                </tr>
            }
        </tbody>
    </table>
} *@
<section>
    <option> </option>
</section>
<div class="main-body">
    <div class="container">
        <!-- Data display table -->
        <div class="card data-set">
            <div class="card-header">Data</div>

            <div class="input-group">
                <input asp-action="inflation" placeholder="enter inflation rate..." aria-label="Search" />
                <select>
                    <option>test</option>
                    <option>test</option>
                    <option>test</option>
                </select>
                <select>
                    <option>test</option>
                    <option>test</option>
                    <option>test</option>
                </select>
                <select>
                    <option>test</option>
                    <option>test</option>
                    <option>test</option>
                </select>
                <input type="search" class="form-control rounded" id="data-search" placeholder="Search within dataset..." aria-label="Search" onkeyup="filterTableRows()">
                <button class="btn-primary"type="submit">Start Analysis</button>
            </div>

            <div class="card-body table-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @if (Model.Headers != null)
                            {
                                foreach (var header in Model.Headers)
                                {
                                    <th>@header</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Records != null)
                        {
                            foreach (var record in Model.Records)
                            {
                                <tr>
                                    @foreach (var field in record)
                                    {
                                        <td>@field</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@* else
{
    <p>Please select a dataset to analyze.</p>
}
 *@