html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.login {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5%;
}
.login-btn {
    width: 90%;
    padding: 1%;
    margin-left: 5%;
    margin-top: 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-container {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    background:#fff;
    color:black;
}
.login, username,password {
    width: 90%;
    padding: 1%;
    margin-left:5%;
    margin-top:5%;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
.side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use viewport height to cover the full height of the viewport */
    width: 20vw; /* Set the width to 20% of the viewport width */
    position: fixed; /* Position the sidebar fixed to the left */
    top: 0;
    left: 0; /* Position the sidebar at the left */
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: #1c3459; /* Keep the same background color */
    z-index: 1;
    overflow-wrap: anywhere;
    color: #fff;
}


.sidbar,p {
    padding-top:4em;
}
.side-bar button {
    width: 100%;
    padding-right:1em;
}
.side-bar .search-button {
    width: auto; /* Resetting width for the search button */
}
.side-bar a.active,
.side-bar button.active {
    background-color: #04AA6D; /* Original active background color */
    color: white;
}
.sidbar, a {
    padding-right:10em;
}

.side-bar a:hover:not(.active),
.side-bar button:hover:not(.active) {
    background-color: darkblue; /* Original hover background color */
    color: white;
}

/*@media screen and (max-width: 768px) {
    .side-bar {
        width: 100vw;*/ /* Set width to viewport width */
        /*height: 35%;
        flex-direction: row;
        z-index:1;
    }
    .side-bar button {
        width: 65%;
    }
    #search-form{
        width:65%;
    }
    .main-body{
       height:80%;
    }
    .navbar {
        z-index: 3;
        padding: 1rem 23rem;*/ /* Adjust these values for small devices */
    /*}
    .navbar-toggler{
        margin-left:3rem;
        margin-top:-1rem;
    }

    .navbar-brand-img {
        position: relative; 
        top: 0;
        margin-top:.5em;
        left: 0;
        padding: 0; 
    }
    .btn-group{
        display:inline-block;
        margin-inline:-7em;
        margin-right:7em;
    }
    .chat-container {
        height: 20em;
        width: 75%;
        overflow-y: auto;
        border: 2px solid black;
        margin-left: 2.5%;
        margin-top: 10%;
    }
    .side-bar-lower{
        width:60%;
    }
    .collab-body{
        margin-left:-55%;
    }
    a {
        width: 63%;
    }
    #logout {
        display: block;
        position: relative;
    }
}*/


.side-bar-lower form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100%; /* Ensure the form takes full height of its container */
}

.d-flex a:hover {
    color: darkgray;
}
.btn-group {
    display: inline-block;
    inset-inline-start: 200%;
    margin-top: 1%;
}
.chat-box {
    height: 68vh; /* Adjust the initial height as needed */
    width: 95%;
    overflow-y: auto;
    border: 2px solid black;
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.chat-container {
    height: 80vh; /* Adjust the initial height as needed */
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.current-user {
    justify-content: flex-end;
}

.other-user {
    justify-content: flex-start;
}

.message-content {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 15px;
}

.message-othersender {
    font-weight: bold;
    margin-right: 10px;
}

.message-currentsender {
    font-weight: bold;
    margin-left: 10px;
}

.card-header {
    background: #1c3459;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
/*Fix later*/
.card-body {
    display: flex;
    flex-direction: column;
}
.home-card {
    display: flex;
    flex-direction: column;
    align-content: center;
}


.task-box {
    height: 40vh;
    width: 95%;
    overflow-y: auto;
    border: 2px solid black;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.plan-box {
    height: 40vh;
    width: 31vw;
    overflow-y: auto;
    border: 2px solid black;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.task-container {
    margin-left: 20%;
    margin-top: 1%;
    width: 80%;
}
.knowledge-container {
    margin-left: 22%;
    margin-top: 1%;
    height: 40vh;
    width: 75vw;
}
.knowledge-box {
    height: 60vh;
    width: 95%;
    overflow-y: auto;
    border: 2px solid black;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
#dropdown {
    margin-left: 11%;
    margin-top: -56%;
    border: 2px solid black;
    width: 12%;
}

#form-btn1, #form-btn2 {
    display: inline-block;
    inset-inline-start: 23vw;
    margin-top: 1%;
}

#btn-card {
    margin-left: 22%;
    width: 74vw;
    margin-top: 1%;
}

.data-set {
    margin-left: 0%;
    margin-top: 1%;
    width: 70vw;
    height: 85vh;
    overflow-y: auto;
}
.table-body {
    height: 90vh;
    width: 95%;
    overflow-y: auto;
    border: 2px solid black;
    margin: 2%;
    padding: 2%;
}
.emp-card {
    height: 75%;
    width: 80%;
    overflow-y: auto;
    border: 2px solid black;
    margin-left: 22%;
    margin-top: 2%;
}

#logout {
    margin-right: 1%;
}
.file {
    color: black !important;
}
#data-btn{
    color:white;
    height:auto;
}

.btn-selected {
    background-color: green;
    color: white;
}
.collab-Associations select {
    align-content:center;
    margin-top:2%;
}

.collab-Associations label{
    font-weight:bold;
    margin-right:1%;
}
.report-container{
    text-align:center;
    padding:2em;
    font-size:1.5em;
}
.report-container ul {
    display: inline-block;
    text-align: left;
}
.report-container p{
    text-align:left;
    display:block;
    margin-left:37%;
}
.report-container h1 {
    display: inline-block; 
    border: 2px solid black;
    padding: 0.5em; 
    margin-bottom:2em;
}
.knowledge-items{
    padding-top:3em;
}
.plan-contents{
    padding-top:2em;
}
.users {
    padding-top: 2em;
}
@media print{
    .navbar{display:none;}
}
@page {
    size: auto;
    margin: 0;
}
.collab-body {
    margin-left:-7%;
}
.collab-body #form-btn2{
    position:relative;
    margin-left:-27%;
}
#logo {
    display: block;
    margin-top:3%;
    margin-left: auto;
}
#top-logo {
    width: 7em;
    height: auto;
    display: inline-block;
    left:0;
}
.navbar-nav {
    display: flex;
    width:100%;
    justify-content: center;
}
header{
    z-index:3;
}


.navbar-brand-img {
    position:relative;
    float:left;
    top: 0;
    left: 0;
    padding: 0.4rem .5rem ; /* Adjust these values to match the navbar padding */
}
#data-search{
    padding:1%;
    margin:.5em 1.7em 0 1em;
}
#analysis-bar {
    padding: 1%;
}
#form-btn3{
    display:inline-flex;
    margin-top:.5%;
    margin-left:20%;
}

navbar-nav .nav-link:hover {
    color: #007bff !important; /* Sets the hover color to Bootstrap's blue */
}
.colab-body {
    margin-left: 8%;
    width: 80%;
}

.data-upload {
    float: right;
    margin-top: 2%;
    width: 60%;
}

.dataset-btn {
    word-wrap: anywhere;
}

.home-header {
    text-align: center;
}
.main-body{
    margin-left:15%;
    width:95%;
}
.conf-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}